@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Merriweather:wght@400;700&display=swap');

@import "tailwindcss";

.my-masonry-grid {
    display: flex;
    margin-left: -1rem; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 1rem; /* gutter size */
    background-clip: padding-box;
  }
  